<h3>Edit Website</h3>
<p>Change a website record. If you don't know any of this information, try using <code>whois</code>.</p>

<% if @website.errors.any? %>
  <div class="errors text-danger">
    The following <%= "error".pluralize(@website.errors.count) %> prevented this record from being saved:
    <ul>
      <% @website.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @website, :url => url_for(:controller => :websites, :action => :update) do |f| %>
  <div class="field">
    <%= f.label :url, "URL" %><br/>
    <%= f.text_field :url, class: "form-control", placeholder: "use the root URL of the site" %>
  </div><br/>

  <div class="field">
    <%= f.label :name_server %><br/>
    <%= f.text_field :name_server, class: "form-control", placeholder: "find it with whois, or leave it blank if you don't know" %>
  </div><br/>

  <div class="field">
    <%= f.label :registrar_id, "Registrar" %><br/>
    <p>(Can't find the right one? <%= link_to "Create a new entry.", url_for(:controller => :registrars, :action => :new) %>)</p>
    <%= f.select :registrar_id, options_for_select(Registrar.all.limit(100).map{|r| ["#{r.name} (#{r.url})", r.id]},
        ["#{@website.registrar.name} (#{@website.registrar.url})", @website.registrar.id]), { include_blank: true }, { class: "form-control reg-select" } %>
  </div><br/>

  <div class="field">
    <%= f.label :admin_id, "Admin Contact" %><br/>
    <p>(Can't find the right one? <%= link_to "Create a new entry.", url_for(:controller => :admins, :action => :new) %>)</p>
    <%= f.select :admin_id, options_for_select(Admin.all.limit(100).map{|a| ["#{a.name} (#{a.email})", a.id]},
        ["#{@website.admin.name} (#{@website.admin.email})", @website.admin.id]), { include_blank: true }, { class: "form-control admin-select" } %>
  </div><br/>

  <div class="field">
    <%= f.label :tech_id, "Technical Contact" %><br/>
    <p>(Can't find the right one? <%= link_to "Create a new entry.", url_for(:controller => :techs, :action => :new) %>)</p>
    <%= f.select :tech_id, options_for_select(Tech.all.limit(100).map{|t| ["#{t.name} (#{t.email})", t.id]},
        ["#{@website.tech.name} (#{@website.tech.email})", @website.tech.id]), { include_blank: true }, { class: "form-control tech-select" } %>
  </div><br/>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>
