<h3>Websites</h3>
<p>Every recorded website. URL's link to more details, not to the spam site.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>URL</th>
      <th>Nameserver</th>
      <th>Admin</th>
      <th>Tech</th>
      <th>Registrar</th>
    </tr>
  </thead>
  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= link_to website.url, url_for(:controller => :websites, :action => :show, :id => website.id) %></td>
        <td><%= website.name_server %></td>
        <td><%= link_to website.admin.name, url_for(:controller => :admins, :action => :show, :id => website.admin.id) %></td>
        <td><%= link_to website.tech.name, url_for(:controller => :techs, :action => :show, :id => website.tech.id) %></td>
        <td><%= link_to website.registrar.name, url_for(:controller => :registrars, :action => :show, :id => website.registrar.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a website", url_for(:controller => :websites, :action => :new) %>
