<h3>Websites</h3>
<p>Every recorded website. URL's not linked to protect the innocent.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>URL</th>
      <th>Nameserver</th>
      <th>Admin</th>
      <th>Tech</th>
      <th>Registrar</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= website.url %></td>
        <td><%= website.name_server %></td>
        <td><%= link_to website.admin.name, url_for(:controller => :admins, :action => :show, :id => website.admin.id) %></td>
        <td><%= link_to website.tech.name, url_for(:controller => :techs, :action => :show, :id => website.tech.id) %></td>
        <td><%= link_to website.registrar.name, url_for(:controller => :registrars, :action => :show, :id => website.registrar.id) %></td>
        <td><%= link_to "details", url_for(:controller => :websites, :action => :show, :id => website.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a website", url_for(:controller => :websites, :action => :new) %>

<div class="text-center">
  <%= will_paginate @websites, renderer: BootstrapPagination::Rails %>
</div>
