<h3><%= @website.url %></h3>
<p>Recorded <%= time_ago_in_words(@website.created_at) %> ago.</p>
<% if @website.updated_at > @website.created_at %>
  <p>Edited <%= time_ago_in_words(@website.updated_at) %> ago.</p>
<% end %>

<p>
  <%= link_to "edit", url_for(:controller => :websites, :action => :edit, :id => @website.id) %>
  <% if user_signed_in? && current_user.is_admin %>
    | <%= link_to "delete", url_for(:controller => :websites, :action => :destroy, :id => @website.id),
          :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "text-danger" %>
  <% end %>
</p>

<ul>
  <li><strong>Nameserver:</strong> <%= @website.name_server %></li>
  <li><strong>Admin:</strong> <%= link_to @website.admin.name, url_for(:controller => :admins, :action => :show, :id => @website.admin.id) %></li>
  <li><strong>Tech:</strong> <%= link_to @website.tech.name, url_for(:controller => :techs, :action => :show, :id => @website.tech.id) %></li>
  <li><strong>Registrar:</strong> <%= link_to @website.registrar.name, url_for(:controller => :registrars, :action => :show, :id => @website.registrar.id) %></li>
</ul>
