<h3>Admins</h3>
<p>Administrative contacts for websites.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organization</th>
      <th>Country</th>
      <th>Email</th>
      <th>Phone</th>
      <th># Websites</th>
    </tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.name %></td>
        <td><%= admin.org %></td>
        <td><%= admin.country %></td>
        <td><%= admin.email %></td>
        <td><%= admin.phone %></td>
        <td><%= admin.websites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add an admin contact", url_for(:controller => :admins, :action => :new) %>
