<h3>Registrars</h3>
<p>Registrars for websites recorded here.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Registrar Website</th>
      <th>Email</th>
      <th>Phone</th>
      <th># Websites</th>
    </tr>
  </thead>
  <tbody>
    <% @registrars.each do |registrar| %>
      <tr>
        <td><%= registrar.name %></td>
        <td><%= link_to registrar.url %></td>
        <td><%= registrar.email %></td>
        <td><%= registrar.phone %></td>
        <td><%= registrar.websites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a registrar", url_for(:controller => :registrars, :action => :new) %>
