<h3>New Registrar</h3>
<p>Create a record for a website's registrar. This information should come from <code>whois</code> where
  possible. Leave fields blank if you don't know or can't find the info.</p>

<% if @registrar.errors.any? %>
  <div class="errors text-danger">
    The following <%= "error".pluralize(@registrar.errors.count) %> prevented this record from being saved:
    <ul>
      <% @registrar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @registrar, :url => url_for(:controller => :registrars, :action => :create) do |f| %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, class: "form-control" %>
  </div><br/>

  <div class="field">
    <%= f.label :url, "Website Address" %><br/>
    <%= f.text_field :org, class: "form-control" %>
  </div><br/>


  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, class: "form-control" %>
  </div><br/>

  <div class="field">
    <%= f.label :phone %><br/>
    <%= f.text_field :phone, class: "form-control" %>
  </div><br/>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-success" %>
  </div>
<% end %>
