<h3>Registrar: <%= @registrar.name %></h3>
<p>Created <%= time_ago_in_words(@registrar.created_at) %> ago.</p>
<% if @registrar.updated_at > @registrar.created_at %>
  <p>Edited <%= time_ago_in_words(@registrar.updated_at) %> ago.</p>
<% end %>

<ul>
  <li><strong>Website:</strong> <%= link_to @registrar.url %></li>
  <li><strong>Email:</strong> <%= @registrar.email %></li>
  <li><strong>Phone:</strong> <%= @registrar.phone %></li>
</ul>

<p>Registrar for <%= pluralize(@registrar.websites.count, 'website') %>:</p>

<% @registrar.websites.each do |website| %>
  <%= render 'websites/website', :website => website %>
<% end %>
