<h3>Techs</h3>
<p>Technical contacts for websites.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Organization</th>
      <th>Country</th>
      <th>Email</th>
      <th>Phone</th>
      <th># Websites</th>
    </tr>
  </thead>
  <tbody>
    <% @techs.each do |tech| %>
      <tr>
        <td><%= tech.name %></td>
        <td><%= tech.org %></td>
        <td><%= tech.country %></td>
        <td><%= tech.email %></td>
        <td><%= tech.phone %></td>
        <td><%= tech.websites.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a technical contact", url_for(:controller => :techs, :action => :new) %>
