<h3>Tech: <%= @tech.name %></h3>
<p>Created <%= time_ago_in_words(@tech.created_at) %> ago.</p>
<% if @tech.updated_at > @tech.created_at + 5.minutes %>
  <p>Edited <%= time_ago_in_words(@tech.updated_at) %> ago.</p>
<% end %>

<ul>
  <li><strong>Organization:</strong> <%= @tech.org %></li>
  <li><strong>Country:</strong> <%= @tech.country %></li>
  <li><strong>Email:</strong> <%= @tech.email %></li>
  <li><strong>Phone:</strong> <%= @tech.phone %></li>
</ul>

<p>
  <%= link_to "edit", url_for(:controller => :techs, :action => :edit, :id => @tech.id) %>
  <% if user_signed_in? && current_user.is_admin %>
    | <%= link_to "delete", url_for(:controller => :techs, :action => :destroy, :id => @tech.id),
          :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "text-danger" %>
  <% end %>
</p>

<p>Technical contact for <%= pluralize(@tech.websites.count, 'website') %>:</p>

<% @tech.websites.each do |website| %>
  <%= render 'websites/website', :website => website %>
<% end %>
